#question {
  display: none;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  text-align: center; /*요소 가운데 정렬*/
  margin-left: auto; /*가로 중앙*/
  margin-right: auto; /*가로 중앙*/
}
#answerList {
  display: none;
  text-align: center; /*요소 가운데 정렬*/
  margin-left: auto; /*가로 중앙*/
  margin-right: auto; /*가로 중앙*/
  padding-bottom: 30px;
}
.answerBtn {
  display: block;
  background-color: #ffb951;
  border-radius: 5px;
  margin: 30px;
}
