#result {
  display: none;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  text-align: center; /*요소 가운데 정렬*/
  margin-left: auto; /*가로 중앙*/
  margin-right: auto; /*가로 중앙*/
}
#recommend {
  text-align: center;
  margin-left: auto; /*가로 중앙*/
  margin-right: auto; /*가로 중앙*/
  animation: fadein 3s;
}
#homeBtn {
  background-color: #ffb951;
  border-radius: 5px;
  margin: 30px;
}
#kakaoBtn {
  background-color: #ffb951;
  border-radius: 5px;
  margin: 30px;
}
#restaurantBtn {
  background-color: #ffb951;
  border-radius: 5px;
  margin: 30px;
}
#shareResult {
  background-color: white;
  border-radius: 20px;
  width: 70%;
  text-align: center; /*요소 가운데 정렬*/
  margin-left: auto; /*가로 중앙*/
  margin-right: auto; /*가로 중앙*/
}
